<div class="container mt-4 bg-light p-4 rounded">
  <h2 class="text-center mb-4">Notícias</h2>
  <div class="row">
      <div class="col-md-12">
          <div class="row">
              <div class="col-md-4">
                  <img src="/Assets/Labirinto.png" class="img-fluid rounded" alt="Museum Image">
              </div>
              <div class="col-md-8">
                  <div class="mb-4">
                      <h4 class="text-muted"> - Labirinto da Liberdade</h4>
                     
                      <p>1 Junho 2024 14:00 - 25 Janeiro 2025 17:00 </p>
                        
                      <p>Local: Museu das Comunicações</p>

                      <p>Entre no labirinto e conheça muitas curiosidades relacionadas com os acontecimentos do 25 de Abril de 1974 e o mundo das comunicações, entre elas, o que foi o cabo zero. Além disso, descubra como as tecnologias de comunicação evoluíram desde então e como elas impactam nossas vidas hoje.</p>
    
                      <p> O Labirinto é uma atividade desenhada para famílias com crianças entre os 6 e os 12 anos. 
                        Cada família realiza os desafios ao seu ritmo e seguindo as pistas que lhe são dadas no início da atividade.</p>
                     
                  </div>
              </div>
          </div>
      </div>
      <hr>
      <div class="col-md-12">
          <div class="row">
              <div class="col-md-4">
                  <img src="/Assets/Codigo.png" class="img-fluid rounded" alt="Museum Image">
              </div>
              <div class="col-md-8">
                  <div class="mb-4">
                      <h4 class="text-muted"> - Código Famílias – Missão: Salvar os Oceanos</h4>
                        
                      <p>22 Junho 15:00 - 16:00</p>
                      <p>Nesta oficina vamos conhecer o núcleo expositivo dos cabos submarinos e perceber a importância da preservação das espécies marinhas. Saiba mais sobre os desafios enfrentados pelos oceanos atualmente e como pequenas ações podem ter um grande impacto na conservação marinha.</p>
                      <p>Inspirados no livro “Plasticus Maritimus” vamos saber como salvar os oceanos do tão poluente plástico. Depois, vamos construir marionetas de figuras aquáticas com o lixo recolhido por mergulhadores voluntários.</p>
                  </div>
              </div>
          </div>
      </div>
      <hr>
      <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <img src="/Assets/Artista.png" class="img-fluid rounded" alt="Museum Image">
            </div>
            <div class="col-md-8">
                <div class="mb-4">
                    <h4 class="text-muted"> - Labirinto da Liberdade</h4>
                   
                    <p>29 Junho  15:00 - 16:00 </p>
              
                    <p> O Código Artista é a nova proposta artística para famílias com crianças entre os 3 e os 6 anos. 
                      E porque cada criança tem um artista dentro de si, propomos uma atividade onde podem ser artistas por um dia!</p>
                   
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
