<div class="col-md-9">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="../Assets/Azulejo.jpg" class="card-img-top" alt="Museu">
                <div class="card-body">
                    <h5 class="card-title">Museu Nacional do Azulejo</h5>
                    <p class="card-text">O Museu Nacional do Azulejo, em Lisboa, é um dos mais importantes museus de Portugal, pela sua colecção singular, dedicada ao azulejo, expressão artística diferenciadora da cultura portuguesa, e pelo edifício ímpar em que se encontra instalado, o antigo Convento da Madre de Deus, fundado em 1509 pela rainha D. Leonor.</p>
                    <p class="card-text"><strong>Endereço:</strong> Lisboa</p>
                    <p class="card-text"><strong>Contato:</strong> 21 810 0340</p>
                    <a class="btn btn-dark text-white m-2" [routerLink]="['/mazulejo']">Comprar Bilhete</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="Assets/coches.jpg" class="card-img-top" alt="Museu">
                <div class="card-body">
                    <h5 class="card-title">Museu Nacional dos Coches</h5>
                    <p class="card-text">O Museu Nacional dos Coches (inicialmente Museu dos Coches Reaes) é um museu português situado no antigo picadeiro do Palácio de Belém em Lisboa criado em 1905, que possui uma colecção de coches e carruagens pertencentes à Casa Real do século XVI ao século XIX.</p>
                    <p class="card-text"><strong>Endereço:</strong> Lisboa</p>
                    <p class="card-text"><strong>Contato:</strong> 21 049 2400</p>
                    <a class="btn btn-dark text-white m-2" [routerLink]="['/mcoche']">Comprar Bilhete</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="Assets/arte.jpg" class="card-img-top" alt="Museu">
                <div class="card-body">
                    <h5 class="card-title">Museu de Arte Contemporânea de Serralves</h5>
                    <p class="card-text">O Museu Serralves (Museu de Arte Contemporânea da Fundação de Serralves), localizado na cidade do Porto, é considerado um dos melhores museus de toda a Europa dedicados à arte contemporânea, possuindo obras de alguns dos maiores artistas contemporâneos.</p>
                    <p class="card-text"><strong>Endereço:</strong> Porto</p>
                    <p class="card-text"><strong>Contato:</strong> 22 615 6500</p>
                    <a class="btn btn-dark text-white m-2 " [routerLink]="['/catalogo']">Comprar Bilhete</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="Assets/cr.jpg" class="card-img-top" alt="Museu">
                <div class="card-body">
                    <h5 class="card-title">Museu CR7</h5>
                    <p class="card-text">O Museu CR7 é um museu onde está retratada a história do futebolista português Cristiano Ronaldo e que se situa numa das principais zonas turísticas da cidade do Funchal, Madeira.
                        O museu foi inaugurado a 15 de dezembro de 2013, contando com a presença do próprio Cristiano Ronaldo e do seu filho, a quem coube a honra de descerrar a placa que assinala a inauguração.</p>
                    <p class="card-text"><strong>Endereço:</strong> Ilha da Madeira</p>
                    <p class="card-text"><strong>Contato:</strong> 291 639 880</p>
                    <a class="btn btn-dark text-white m-2" [routerLink]="['/catalogo']">Comprar Bilhete</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="Assets/cer.jpg" class="card-img-top" alt="Museu">
                <div class="card-body">
                    <h5 class="card-title">Museu de Olaria</h5>
                    <p class="card-text">O Museu de Olaria localiza-se em Barcelos e é dedicado à arte de olaria. Está instalado na antiga Casa dos Mendanhas.

                        O Museu foi criado, com o nome de Museu Regional de Cerâmica Popular, em 1963 após a doação de uma colecção recolhida pelo etnógrafo Joaquim Sellès Paes de Villas Boas. O alargamento das colecções à olaria nacional, fez com que se alterasse a designação para Museu de Olaria.</p>
                    <p class="card-text"><strong>Endereço:</strong> Barcelos</p>
                    <p class="card-text"><strong>Contato:</strong> 253 824 741</p>
                    <a class="btn btn-dark text-white m-2" [routerLink]="['/catalogo']">Comprar Bilhete</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="Assets/cal.jpg" class="card-img-top" alt="Museu">
                <div class="card-body">
                    <h5 class="card-title">Museu Calouste Gulbenkian</h5>
                    <p class="card-text">O Museu Calouste Gulbenkian acolhe uma das mais importantes coleções privadas de arte do mundo, abrangendo obras do Antigo Egito, das artes do Mundo Islâmico, da China e Japão, bem como as artes decorativas francesas, joias de René Lalique e quadros de mestres da pintura como Rembrandt, Rubens, Monet, Renoir, Manet, Edgar Degas e Turner.</p>
                    <p class="card-text"><strong>Endereço:</strong> Lisboa</p>
                    <p class="card-text"><strong>Contato:</strong> 21 782 3000</p>
                    <a class="btn btn-dark text-white m-2" [routerLink]="['/mcalouste']"> Comprar Bilhete</a>
                </div>
            </div>
        </div>
    </div>
</div>
