<div class="container-fluid">
  <div class="row">
      <div class="col-3">
          <!-- Barra de Navegação Lateral -->
          <nav class="navbar navbar-light bg-light flex-column">
              <a class="navbar-brand" href="#">Central Museu</a>
              <ul class="navbar-nav flex-column">
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/login">Login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/catalogo">Catálogo</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/sobre-nos">Sobre Nós</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/contato">Contato</a>
                  </li>
              </ul>
          </nav>
      </div>
      <div class="col-9">
      </div>
  </div>
</div>
