<div class="container my-4">
    <header class="d-flex">
        <div class="col-md-3">
            <img src="Assets/coches.jpg" class="img-fluid full-height" alt="Logo">
        </div>
        <div class="col-md-9 text-center">
            <h1 class="mb-3">Museu Nacional dos Coches</h1>
            <div class="rating mb-2">
                <span class="text-warning">★★★★</span>
            </div>
            <p>
                <a href="https://www.google.com/maps?q=38.696706255522365, -9.198425242328256" target="_blank">
                    <img src="Assets/GPS.webp" class="gps-icon" alt="GPS">
                    Av. da Índia 136
                </a>
            </p>
            <button class="btn btn-success my-2">Comprar</button>
            <p>Aberto: Todos os dias</p>
        </div>
    </header>

    <section class="history my-4">
        <h2>
            <img src="Assets/Play.png" id="MuseuCocheImg" class="play" alt="Play">
            História
        </h2>
        <p>O Museu Nacional dos Coches é um museu português situado no antigo picadeiro do Palácio de Belém em Lisboa criado em 1905, que possui uma colecção de coches e carruagens pertencentes à Casa Real do século XVI ao século XIX. </p>
        <p>The National Coach Museum is a Portuguese museum located in the former picadeiro of the Belém Palace in Lisbon, established in 1905. It houses a collection of coaches and carriages belonging to the Royal Household from the 16th to the 19th century.</p>
        <audio id="MuseuCocheAudio" src="Assets/MuseuCoche.mp3"></audio>
    </section>

    <section class="gallery row">
        <hr>
        <div class="col-md-4 mb-3">
            <img src="Assets/Coches_1.jpg" class="img-fluid rounded" alt="Imagem 1">
        </div>
        <div class="col-md-4 mb-3">
            <img src="Assets/Coches_2.jpg" class="img-fluid rounded" alt="Imagem 2">
        </div>
        <div class="col-md-4 mb-3">
            <img src="Assets/Coches_3.jpg" class="img-fluid rounded" alt="Imagem 3">
        </div>
        <hr>
    </section>

    <section class="reviews my-4">
        <h2>Avaliações</h2>
        <div class="review bg-light p-3 rounded mb-3">
            <span class="text-warning">★★★★☆</span>
            <p>Confesso que não sou amante de museus e costumo achar um passeio um pouco desinteressante. Mas amei a experiência no museu dos coches, fiquei encantada com a variedade e a beleza das peças exibidas.</p>
        </div>
        <div class="review bg-light p-3 rounded mb-3">
            <span class="text-warning">★★★★★</span>
            <p>Um museu muito bonito, com coches em perfeito estado de preservação. Recomendo a visita</p>
        </div>
        <div class="review bg-light p-3 rounded mb-3">
            <span class="text-warning">★★★☆</span>
            <p>É uma experiência muito positiva.
                Visitei sem grandes expectativas e fui surpreendido pela diversidade e história apresentadas.</p>
        </div>
    </section>
</div>

<audio id="MuseuCocheAudio">
    <source src="Assets/MuseuCoche.mp3" type="audio/wav">
    Your browser does not support the audio element.
</audio>
