<div class="container my-4">
    <header class="d-flex">
        <div class="col-md-3">
            <img src="Assets/Calouste.jpg" class="img-fluid full-height" alt="Logo">
        </div>
        <div class="col-md-9 text-center">
            <h1 class="mb-3">Museu Calouste Gulbenkian</h1>
            <div class="rating mb-2">
                <span class="text-warning">★★★★☆</span>
            </div>
            <p>
                <a href="https://www.google.com/maps?q=38.73794619750833, -9.153566974306615" target="_blank">
                    <img src="Assets/GPS.webp" class="gps-icon" alt="GPS">
                    Jardim da Fundação Calouste Gulbenkian
                </a>
            </p>
            <button class="btn btn-success my-2">Comprar</button>
            <p>Aberto: Todos os dias</p>
        </div>
    </header>

    <section class="history my-4">
        <h2>
            <img src="Assets/Play.png" id="MuseuCalousteImg" class="play" alt="Play">
            História
        </h2>
        <p>O Museu Calouste Gulbenkian acolhe uma das mais importantes coleções privadas de arte do mundo, abrangendo obras do Antigo Egito, das artes do Mundo Islâmico, da China e Japão, bem como as artes decorativas francesas, joias de René Lalique e quadros de mestres da pintura como Rembrandt, Rubens, Monet, Renoir, Manet, Edgar Degas e Turner.</p>
        <p>The Calouste Gulbenkian Museum hosts one of the most important private art collections in the world, encompassing works from Ancient Egypt, Islamic art, China and Japan, as well as French decorative arts, jewelry by René Lalique, and paintings by masters such as Rembrandt, Rubens, Monet, Renoir, Manet, Edgar Degas, and Turner. </p>
    </section>

    <section class="gallery row">
        <hr>
        <div class="col-md-4 mb-3">
            <img src="Assets/Calouste_1.jpg" class="img-fluid rounded" alt="Imagem 1">
        </div>
        <div class="col-md-4 mb-3">
            <img src="Assets/Calouste_2.jpg" class="img-fluid rounded" alt="Imagem 2">
        </div>
        <div class="col-md-4 mb-3">
            <img src="Assets/Calouste_3.jpg" class="img-fluid rounded" alt="Imagem 3">
        </div>
        <hr>
    </section>

    <section class="reviews my-4">
        <h2>Avaliações</h2>
        <div class="review bg-light p-3 rounded mb-3">
            <span class="text-warning">★★★★</span>
            <p>Há muitos anos que não ia à Gulbenkian e, claro, foi bom lá voltar, só tive pena que o Museu de Arte Moderna ainda esteja em obras. É o meu museu preferido.
                Também achei que o lago estava menos bonito do que eu o conheci.
                Vi a exposição de fotografia da Maria Lamas e não pude deixar de sentir uma profunda tristeza de ver aquelas mulheres tão sofridas que nem sapatos tinham.
                Conto lá voltar e espero encontrar o meu querido museu aberto.</p>
        </div>
        <div class="review bg-light p-3 rounded mb-3">
            <span class="text-warning">★★★★★</span>
            <p>Local sossegado e limpo. Óptimo para passear com a familia e os mais pequenos de modo a terem contacto com a Natureza.
                Há sempre uma exposição para visitar e conhecer algo mais.</p>
        </div>
        <div class="review bg-light p-3 rounded mb-3">
            <span class="text-warning">★★★★★</span>
            <p>O Museu Gulbenkian é o meu museu favorito de Lisboa!
                Possui uma grande variedade de obras expostas, indo desde o antigo Egito a obras do século XX. Tem sempre um exposição temporária, mas 10€ por vê-la acho caro..
                O museu em si é bonito e bastante grande com as várias salas divididas em períodos históricos.</p>
        </div>
    </section>
</div>

<audio id="MuseuCalousteAudio">
    <source src="Assets/MuseuCalouste.mp3" type="audio/wav">
    Your browser does not support the audio element.
</audio>
